@model List<MvcStok.Models.Entity.TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>URUN ID</th>
        <th>URUN ADI</th>
        <th>MARKASI</th>
        <th>KATEGORI</th>
        <th>FIYAT</th>
        <th>STOK</th>
        <th>SIL</th>
        <th>GUNCELLE</th>
    </tr>
    <tbody>
        @foreach (var urn in Model)
        {
            <tr>
                <th>@urn.URUNID</th>
                <td>@urn.URUNAD</td>
                <td>@urn.MARKA</td>
                <td>@urn.TBLKATEGORILER.KATEGORIID</td>
                <td>@urn.FIYAT</td>
                <td>@urn.STOK</td>
                <td><a href="/URUN/SIL/@urn.URUNID" class="btn btn-danger">Sil</a></td>
                <td><a href="/URUN/GUNCELLE/@urn.URUNID" class="btn btn-success">Guncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/URUN/YeniUrun" class="btn btn-primary">Yeni Urun Ekle</a>
